<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>书籍表格 - Layui</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script src="/jq/jquery-3.7.1.js"></script>
</head>
<body>
<div style="padding: 16px;">
    <div class="layui-inline">
        <button class="layui-btn" id="addBtn">添加书籍</button>
    </div>
    <div class="layui-inline">
        <input autocomplete="off" class="layui-input" id="searchInput" name="search" placeholder="请输入搜索关键字">
    </div>
    <button class="layui-btn" id="searchBtn">搜索</button>
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script src="/layui/layui.js"></script>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script src="/jq/com.js"></script>
<script>
    var table;
    layui.use(['table', 'laypage'], function () {
        table = layui.table;
        var cols = [
            {type: 'checkbox', fixed: 'left'},
            {field: 'zzBookId', title: '书籍主键', width: 20, sort: true},
            {field: 'zzTitle', title: '书籍标题', width: 60},
            {field: 'zzAuthor', title: '作者', width: 60},
            {
                field: 'zzUrl', title: '图像', width: 60, templet: function (d) {
                    return `<div><img src="/${d.zzUrl}" height="26" alt="Book Image" /></div>`;
                }
            },
            {field: 'zzPrice', title: '价格', width: 60},
            {field: 'zzInventoryCount', title: '库存数量', width: 60},
            {
                field: 'zzCreateTime', title: '创建时间', width: 160, sort: true, templet: function (d) {
                    return layui.util.toDateString(d.zzCreateTime, 'yyyy-MM-dd HH:mm:ss');
                }
            },
            {
                field: 'zzModifiedTime', title: '修改时间', width: 160, sort: true, templet: function (d) {
                    return layui.util.toDateString(d.zzModifiedTime, 'yyyy-MM-dd HH:mm:ss');
                }
            },
            {field: 'zzCreateAccountId', title: '创建人', width: 60},
            {field: 'zzModifiedAccountId', title: '修改人', width: 60},
            {
                field: 'zzDeleted', title: '逻辑删除标识', templet: function (d) {
                    var btnClass = d.zzDeleted === 0 ? 'layui-btn-normal' : 'layui-btn-disabled';
                    var btnText = d.zzDeleted === 0 ? '正常' : '禁用';
                    return '<button class="layui-btn layui-btn-xs ' + btnClass + '" lay-event="toggleDelete">' + btnText + '</button>';
                }
            },
            {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 180}
        ];
        table.render({
            elem: '#test',
            url: '/books/list', // 确保与后端API路径匹配
            cols: [cols],
            page: true,
            height: 'full-200',
            even: true,
            limit: 10, // 默认显示条数
            limits: [10, 20, 30, 50],
            toolbar: true,
            defaultToolbar: ['filter', 'print', 'exports'],
        });

        $('#addBtn').click(function () {
            handleAction('add', null, 'books');
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    handleDelete(data.zzBookId, 'books', true); // 真删除
                    layer.close(index);
                });
            } else if (layEvent === 'toggleDelete') {
                layer.confirm('是否要禁用？', function (index) {
                    handleDelete(data.zzBookId, 'books', false); // 逻辑删除
                    layer.close(index);
                });
            } else if (['edit', 'view'].includes(layEvent)) {
                handleAction(layEvent, data.zzBookId, 'books');
            }
        });

        handleSearch('test', 'searchBtn', 'searchInput');

    });
</script>
</body>
</html>