<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.book.mapper.ZzOrderMapper">
    <resultMap id="BaseResultMap" type="com.zz.book.pojo.ZzOrder">
        <!--@mbg.generated-->
        <!--@Table `Zz`.`Zz_Order`-->
        <id column="zz_order_id" jdbcType="BIGINT" property="zzOrderId"/>
        <result column="zz_customer_id" jdbcType="BIGINT" property="zzCustomerId"/>
        <result column="zz_order_total" jdbcType="DECIMAL" property="zzOrderTotal"/>
        <result column="zz_create_time" jdbcType="TIMESTAMP" property="zzCreateTime"/>
        <result column="zz_modified_time" jdbcType="TIMESTAMP" property="zzModifiedTime"/>
        <result column="zz_create_account_id" jdbcType="BIGINT" property="zzCreateAccountId"/>
        <result column="zz_modified_account_id" jdbcType="BIGINT" property="zzModifiedAccountId"/>
        <result column="zz_deleted" jdbcType="TINYINT" property="zzDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `zz_order_id`, `zz_customer_id`, `zz_order_total`, `zz_create_time`, `zz_modified_time`,
        `zz_create_account_id`, `zz_modified_account_id`, `zz_deleted`
    </sql>
</mapper>